<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="5">
	<test name="Test" parallel="classes">
		<parameter name="url" value="http://leaftaps.com/opentaps"></parameter>
		<classes>
			<class name="week8.day1.testcases.LoginTC"/>
			<class name="week8.day1.testcases.CreateLeadsTC" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
